<html>
<body>
<form action="#" th:action="@{/edit}" th:object="${visit}" method="post">
    <table>
        <tr>
            <td>
                <input type="hidden" th:name="id" th:field="*{id}"/>
                <input th:name="name" th:field="*{dentist}" required=""/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="datetime-local" th:name="date" th:field="*{date}"></input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit"/>
                <a th:href="@{/visits}">Return</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>