<html>
<body>
<form action="#" th:action="@{/}" th:object="${dentistVisitEntity}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td><select class="form-control" th:field="*{dentist}">
                <option th:each="den : ${dentists}"
                        th:value="${den.name}"
                        th:text="${den.name}">
                </option>
            </select>
            </td>
            <td th:if="${#fields.hasErrors('dentist')}" th:errors="*{dentist}">name.error</td>
        </tr>
        <tr>
            <td><p th:text="#{visit.date}">visit.date</p></td>
            <td><input type="datetime-local" th:field="*{date}" /></td>
            <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date.error</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.visit}"></button>
            </td>
        </tr>
    </table>
</form>

<form action="#" th:action="@{/visits}" method="get">
    <button type="submit" th:text="#{view.registrations}"></button>
</form>

</body>
</html>