<html>
<body>
<table>
    <tr>
        <td>
            <form action="#" th:action="@{/visits}" th:object="${search}" method="post">
                <p>Otsing</p>
                <input type="text" name="search"/>
                <button type="submit">Otsing</button>
            </form>
        </td>
    </tr>
    <tr th:each="visit : ${visits}">
        <td>
            <p th:text="'Aeg: '+${visit.date}+' '+'Arst: '+${visit.dentist}"></p>
        </td>
        <td>
            <a th:href="@{'/visits/delete/' + ${visit.id}}">Kustuta</a>
        </td>
        <td>
            <a th:href="@{'/visits/edit/' + ${visit.id}}">Muuda</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/}">Tagasi</a>
        </td>
    </tr>
</table>
</body>
</html>